# Combine workflow for pull-request, push-to-main and release events.

name: Build and release execution environment

on:
  push:
    branches:
      - main
  # workflow_call:
  #   inputs:
  #     registry:
  #       description: The registry to which the image will be pushed.
  #       required: true
  #       type: string
  #   secrets:
  #     registry_username:
  #       required: true
  #     registry_password:
  #       required: true
  #     registry_redhat_username:
  #       required: false
  #     registry_redhat_password:
  #       required: false

jobs:
  debug:
    if: github.event_name == 'pull_request_target'
    runs-on: ubuntu-latest
    environment: test
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.ref != '' && github.event.pull_request.head.ref || 'main' }}

      - name: Print working directory
        run: pwd

      - name: List files in the directory
        run: ls -lahR

      - name: List environment variables
        run: printenv | sort

      - name: Show git branch and commit
        run: |
          echo "Current Branch:"
          git branch
          echo "Current Commit:"
          git rev-parse HEAD

      - name: Fetch all branches
        run: git fetch --all

      - name: List all remote branches
        run: git branch -r

      - name: Show detailed git diff
        run: git diff origin/main

  build-ee:
    outputs:
      push_success: ${{ steps.push_to_pah.outputs.push_success }}
    runs-on: [self-hosted, rhel10, onprem, ansible]
    steps:
      - name: Clean up Podman directories
        run: rm -rf /tmp/storage-run-992/containers /tmp/storage-run-992/libpod/tmp

      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Fetch the base and head refs only if a push and release
        if: github.event_name == 'push' || github.event_name == 'release'
        run: |
          git fetch origin ${{ github.base_ref }}
          git fetch origin ${{ github.head_ref }}

      - name: Install python requirements
        run: pip install ansible-core ansible-builder yq

      - name: Define common environment variables
        run: |
          echo "EE=`yq -r '.options.tags[0]' 'execution-environment.yml'`" >> $GITHUB_ENV
          echo "EE_file=execution-environment.yml" >> $GITHUB_ENV

      - name: Define environment variables for PR
        if: github.event_name == 'pull_request_target'
        run: |
          SHORT_SHA=$(echo ${{ github.sha }} | cut -c1-7)
          echo "IMAGE_TAG=pr-${{ github.event.number }}-$SHORT_SHA" >> $GITHUB_ENV

      - name: Define environment variables for push and release
        if: github.event_name == 'push' || github.event_name == 'release'
        run: |
          echo "IMAGE_TAG=latest" >> $GITHUB_ENV

      - name: Print the environment variables
        run: |
          echo $GITHUB_ENV

      - name: Login to Private Automation Hub
        uses: redhat-actions/podman-login@v1
        with:
          registry: ${{ secrets.AUTOMATIONHUB_HOST }}
          username: ${{ secrets.AUTOMATIONHUB_USERNAME }}
          password: ${{ secrets.AUTOMATIONHUB_PASSWORD }}
          auth_file_path: ${{github.workspace}}/auth.json

      - name: (devel) Build image and create artifact
        run: |
          echo "Would build: ${{ env.EE }}"

      - name: Build image and create artifact
        run: |
          ansible-builder build -v 3 \
          --no-cache \
          --build-arg AUTOMATION_HUB_URL=${{ secrets.AUTOMATION_HUB_URL }} \
          --build-arg AUTOMATIONHUB_TOKEN=${{ secrets.AUTOMATIONHUB_TOKEN }} \
          --build-arg ANSIBLE_GALAXY_CLI_COLLECTION_OPTS='--ignore-certs -vvvvv'

      - name: Push To Private Automation Hub
        id: push_to_pah
        uses: redhat-actions/push-to-registry@v2
        with:
          tags: ${{ env.EE }}

      - name: Set push success flag
        if: success()
        run: echo "push_success=true" >> $GITHUB_ENV
